<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
    <link rel="resetsheet" href="../styles/reset.css">
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/header.css">
    <link rel="stylesheet" href="../styles/aside.css">
    <link rel="stylesheet" href="../styles/main.css">
    <link rel="stylesheet" href="../styles/footer.css">
    <link rel="stylesheet" href="../styles/employee-signup.css">
</head>
<body>
    <header class="container">
        <img src="../img/header-trackgenix.svg" alt="Trackgenix by RadiumRocket" class="mobile desktop">
        <img src="../img/header-trackgenix-2.png" alt="Trackgenix by RadiumRocket" class="tablet">
        <img src="../img/triangle-button.png" alt="menu_arrow" class="button">
        <div class="logos">
            <a href="" target="_blank"><img src="../img/tw-1.png" alt="twitter logo"></a>
            <a href="" target="_blank"><img src="../img/ig-1.png" alt="instagram logo"></a>
            <a href="" target="_blank"><img src="../img/in-1.png" alt="linkedin logo"></a>
            <a href="" target="_blank"><img src="../img/fb-1.png" alt="facebook logo"></a>  
        </div>                 
    </header>
    <div class="not-header">
        <aside class="container">
            <section class="section nav">
                <h2 class="title">Menu</h2>
                <ul class="list">
                    <li>
                        <a href="../views/index.html">Home</a>
                    </li>
                    <li>
                        <a href="../views/login.html">Sign in</a>
                    </li>
                    <li class="current">
                        <a href="">Sign up</a>
                    </li>
                    <li>
                        <a href="">About us</a>
                    </li>
                </ul>
            </section>
            <section class="section get-in-touch">
                <h2 class="title">Get in Touch</h2>
                <p class="text">
                    Sed varius enim lorem ullamcorper dolore aliquam aenean ornare 
                    velit lacus, ac varius enim lorem ullamcorper dolore. Proin sed aliquam 
                    facilisis ante interdum. Sed nulla amet lorem 
                    feugiat tempus aliquam.
                </p>
                <address>
                    <div class="contact-data">
                        <img src="../img/sb1.png" alt="phone">
                        <a href="tel:+0000000">(000) 000-0000</a>
                    </div>
                    <div class="contact-data">
                        <img src="../img/sb2.png" alt="email">
                        <a href="mailto:information@untitled.tld">information@untitled.tld</a>
                    </div>
                    <div class="contact-data">
                        <img src="../img/sb3.png" alt="location">
                        <p>
                            1234 Somewhere Road #8254
                            <br>
                            Nashville, TN 00000-0000
                        </p>
                    </div>
                </address>
            </section>
        </aside>
        <div class="not-header-r">
            <main>
                <fieldset class="signup">
                    <h2>Register</h2>
                    <div>
                        <label for="first-name">First name</label>
                        <input type="text" name="" id="first-name">
                        <div class="validation-msg">asfasf</div>
                    </div>
                    <div>
                        <label for="last-name">Last name</label>
                        <input type="text" name="" id="last-name">
                        <div class="validation-msg"></div>
                    <div>
                    </div>
                        <label for="dni">DNI</label>
                        <input type="text" name="" id="dni">
                        <div class="validation-msg"></div>
                    </div>
                    <div>
                        <label for="birth-date">Birth date</label>
                        <input type="date" name="" id="birth-date">
                        <div class="validation-msg"></div>
                    <div>
                    </div>
                        <label for="phone-number">Phone number</label>
                        <input type="text" name="" id="phone-number">
                        <div class="validation-msg"></div>
                    </div>
                    <div>
                        <label for="adress">Adress</label>
                        <input type="text" name="" id="adress">
                        <div class="validation-msg"></div>
                    <div>
                    </div>
                        <label for="location">Location</label>
                        <input type="text" name="" id="location">
                        <div class="validation-msg"></div>
                    </div>
                    <div>
                        <label for="postal-code">Postal code</label>
                        <input type="text" name="" id="postal-code">
                        <div class="validation-msg"></div>
                    <div>
                    </div>
                        <label for="email">Email</label>
                        <input type="text" name="" id="email">
                        <div class="validation-msg"></div>
                    </div>
                    <div>
                        <label for="repeat-email">Repeat email</label>
                        <input type="text" name="" id="repeat-email">
                        <div class="validation-msg"></div>
                    <div>
                    </div>
                        <label for="password">Password</label>
                        <input type="password" name="" id="password">
                        <div class="validation-msg"></div>
                    </div>
                    <div>
                        <label for="repeat-password">Repeat Password</label>
                        <input type="password" name="" id="repeat-password">
                        <div class="validation-msg"></div>
                    <div>
                </fieldset>
            </main>
        </div>
    </div>
</body>
</html>