header.container {
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #373867;
    border-radius: 0 0 15px 15px;
}

header div.logos {
    display: none;
}

header img.tablet {
    display: none;
}

header .button {
    width: 5%;
    margin: auto;
    margin-bottom: 5px;
}

@media screen and (min-width: 480px) {
    header.container {
        flex-direction: row;
    }

    header div.logos {
        display: flex;
        justify-content: space-between;
        width: 28%;
        margin-right: 15px;
    }

    header div.logos a {
        display: flex;
        justify-content: center;
        width: 22%;
        height: fit-content;
        border-radius: 50px;
    }
    
    header div.logos img {
        width: 100%;
        border-radius: 50px;
    }

    header img.mobile {
        display: none;
    }
    
    header img.tablet {
        display: block;
        width: 28%;
        margin: 15px;
    }
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1024px) {
    header.container {
        justify-content: space-between;
    }
    header .button {
        display: none;
    }

    header img.desktop {
        display: block;
        width: 33%;
        margin: 10px 30px;
    }

    header img.tablet {
        display: none;
    }

    header div.logos {
        width: 15%;
    }
}