main.container {
    display: flex;
    flex-direction: column;
    width: 96%;
    margin: auto;
    font-size: small;
}

main section.block {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    border-bottom: #373867 3px solid;
}

section.main .text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.main h1 {
    margin-bottom: 10px;
    font-weight: normal;
}

section.main span#trackgenix {
    font-weight: bold;
}

section.main h2 {
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: center;
}

section.main p {
    width: 100%;
    margin-bottom: 15px;
    text-align: center;
    margin-right: 0;
}

section.main img {
    border-radius: 15px;
    width: 75%;
    margin-bottom: 20px;
    align-self: center;
}

section.main a.tablet {
    display: none;
}
section.main .button1 {
    border: #373867 2px solid;
    border-radius: 5px;
    text-transform: uppercase;
    padding: 5px 12px;
    align-self: center;
    order: 1;
}

section.main .button1:hover {
    background-color: #373867;
    color: #ffffff;
}

section.services article {
    display: flex;
    margin-bottom: 20px;
}

section.services article:nth-child(odd) {
    flex-direction: row-reverse;
}

section.services article img {
    max-height: 117px;
    align-self: center;
}

section.services article:nth-child(odd) img {
    margin-left: 15px;
}

section.services article:nth-child(even) img {
    margin-right: 15px;
}

section.services h3 {
    width: 100%;
    padding-bottom: 5px;
    border-bottom: #373867 1px solid;
}

section.services p {
    width: 96%;
    padding-left: 15px;
    padding-top: 5px;
}

section.whytr img {
    display: none;
}

section.whytr article {
    display: flex;
    padding-bottom: 10px;
    border-bottom: #373867 1px solid;
    margin-bottom: 10px;
}

section.whytr article:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding: 0;
}

section.whytr p {
    margin-right: 15px;
}

section.whytr h3 {
    margin-bottom: 5px;
}

section.whytr a.tablet {
    display: none;
}

section.whytr .button2 {
    padding: 6px 16px;
    margin: auto;
    background-color: white;
    border: #373867 solid 2px;
    border-radius: 5px;
    color: #373867;
    text-transform: uppercase;
    font-size: 15px;
    text-align: center;
}

section.whytr.button2:hover {
    background-color: #373867;
    color: white;
}

section.system-info fieldset{
    border: none;
}

section.system-info fieldset {
    display: flex;
    flex-direction: column;
    padding: 0;
}

section.system-info form {
    width: 100%;
}

section.system-info input[type=text], 
section.system-info input[type=email],
section.system-info textarea {
    border: #373867 1px solid;
    border-radius: 5px;
}

section.system-info .title-label {
    font-weight: bold;
    margin-bottom: 5px;
}

section.system-info .name-email {
    display: flex;
    flex-direction: column;
}

section.system-info .radios {
    display: flex;
    justify-content: space-between;

}

section.system-info .radios .radio {
    font-size: small;
    width: 30%;
}

section.system-info .radios label {
    font-weight: normal;
}

section.system-info .radio {
    display: flex;
    align-items: center;
}

section.system-info .radio input{
    margin-right: 5px;
}

section.system-info .buttons {
    display: flex;
    justify-content: flex-end;
}

section.system-info .buttons input {
    margin-left: 5px;
    margin-top: 10px;
}

section.system-info .button3{
    padding-left: 20px;
    padding-right: 20px;
    background-color: white;
    border: #373867 solid 2px;
    border-radius: 5px;
    color: #373867;
    font-size: 15px;
}

section.system-infos .button3:hover{
    background-color: #373867;
    color: white;
}

#story-block h3{
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 5px;
}

#story-block img {
    width: 87%;
    border-radius: 5px;
    border: #373867 1px solid;
    margin: 15px 0;
}

#lists-block {
    align-items: flex-start;
    padding-left: 60px;
    font-size: large;
}

#lists-block ul li:first-child{
    padding: 0;
    text-decoration: underline;
    font-weight: bold;
    list-style: none;
    padding-bottom: 5px;
}

#lists-block .sub-list{
    margin-left: 25px;
    list-style-type: disc;
    padding-bottom: 5px;
}

@media screen and (min-width: 480px){
    
    main section.main {
        flex-direction: row;
        justify-content: space-between;
    }

    section.main div.text {
        display: flex;
        flex-direction: column;
        width: 45%;
    }

    section.main img {
        display: none;
    }

    section.main .bulb-img {
        width: 40%;
        background-image: url(../img/img1.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    section.main h2 {
        font-size: 18px;
        text-align: left;
    }

    section.main p {
        text-align: left;
    }

    section.main .button1 {
        align-self: flex-start;
    }

    section.main a.mob-desk {
        display: none;
    }

    section.main a.tablet {
        display: block;
    }
    
    section.services p {
        font-size: 12px;
    }

    section.services img {
        width: 28%;

    } 
    
    section.services .services-col {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    section.services .services-col article {
        width: 45%;
    }

    section.services article:nth-child(odd) {
        flex-direction: row;
    }

    section.services article:nth-child(odd) img{
        margin-left: 0;
        margin-right: 15px;
    }

    section.whytr img {
        display: block;
        width: 40%;
    }

    section.whytr a.tablet {
        display: block;
    }

    section.whytr a.mob-desk {
        display: none;
    }

    section.whytr article {
        flex-direction: row-reverse;
    }

    section.whytr .button2 {
        width: fit-content;
    }
}

@media screen and (min-width: 768px){
}

@media screen and (min-width: 1024px){
}