main {
    display: flex;
    flex-direction: column;
    width: 96%;
    margin: auto;
    font-size: small;
}

section.block {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
    border-bottom: #373867 3px solid;
}

#main-block h1 {
    text-align: center;
    margin-bottom: 10px;
    font-weight: normal;
}

#main-block h1 #trackgenix {
    font-weight: bold;
}

#main-block h2 {
    align-self: center;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 10px;
}

#main-block p {
    width: 90%;
    margin-bottom: 15px;
}

#main-block img {
    border-radius: 15px;
    width: 75%;
    margin-bottom: 20px;
}

.button1 {
    border: #373867 2px solid;
    border-radius: 5px;
    text-transform: uppercase;
    padding: 5px 12px;
}

.button1:hover {
    background-color: #373867;
    color: #ffffff;
}

/* -----------------------BLOCK-2----------------------- */
#services-block article {
    display: flex;
    margin-bottom: 20px;
}

#services-block article:nth-child(odd) {
    flex-direction: row-reverse;
}

#services-block article img {
    max-height: 117px;
    align-self: center;
}

#services-block article:nth-child(odd) img {
    margin-left: 15px;
}

#services-block article:nth-child(even) img {
    margin-right: 15px;
}

#services-block h3 {
    width: 100%;
    padding-bottom: 5px;
    border-bottom: #373867 1px solid;
}

#services-block p {
    width: 96%;
    padding-left: 15px;
    padding-top: 5px;
}

/* -----------------------BLOCK-3----------------------- */
#whytr-block img {
    display: none;
}

#whytr-block article {
    display: flex;
    padding-bottom: 10px;
    border-bottom: #373867 1px solid;
    margin-bottom: 10px;
}

#whytr-block article:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding: 0;
}

#whytr-block p {
    margin-right: 15px;
}

#whytr-block h3 {
    margin-bottom: 5px;
}

.button2 {
    padding: 6px 16px;
    margin: auto;
    background-color: white;
    border: #373867 solid 2px;
    border-radius: 5px;
    color: #373867;
    text-transform: uppercase;
    font-size: 15px;
}

.button2:hover {
    background-color: #373867;
    color: white;
}

/* -----------------------BLOCK-4----------------------- */
#system-info-block fieldset{
    border: none;
}

#system-info-block fieldset {
    display: flex;
    flex-direction: column;
    padding: 0;
}

#system-info-block form {
    width: 100%;
}

#system-info-block input[type=text], 
#system-info-block input[type=email],
#system-info-block textarea {
    border: #373867 1px solid;
    border-radius: 5px;
}

.title-label {
    font-weight: bold;
    margin-bottom: 5px;
}

#personal-data {
    display: flex;
    flex-direction: column;
}

#radios {
    display: flex;
    justify-content: space-between;

}

#radios .radio {
    font-size: small;
    width: 30%;
}

#radios label {
    font-weight: normal;
}

#system-info-block .radio {
    display: flex;
    align-items: center;
}

#system-info-block .radio input{
    margin-right: 5px;
}

.buttons {
    display: flex;
    justify-content: flex-end;
}

.buttons input {
    margin-left: 5px;
    margin-top: 10px;
}

.button3{
    padding-left: 20px;
    padding-right: 20px;
    background-color: white;
    border: #373867 solid 2px;
    border-radius: 5px;
    color: #373867;
    font-size: 15px;
}

.button3:hover{
    background-color: #373867;
    color: white;
}

/* -----------------------BLOCK-5----------------------- */
#story-block h3{
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 5px;
}

#story-block img {
    width: 87%;
    border-radius: 5px;
    border: #373867 1px solid;
    margin: 15px 0;
}

/* -----------------------BLOCK-6----------------------- */
#lists-block {
    align-items: flex-start;
    padding-left: 60px;
    font-size: large;
}

#lists-block ul li:first-child{
    padding: 0;
    text-decoration: underline;
    font-weight: bold;
    list-style: none;
    padding-bottom: 5px;
}

#lists-block .sub-list{
    margin-left: 25px;
    list-style-type: disc;
    padding-bottom: 5px;
}